<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GP_Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GP_Dal.Properties.Settings>
            <setting name="GPconnString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=GP_AggMetric;Integrated Security=True</value>
            </setting>
        </GP_Dal.Properties.Settings>
    </userSettings>
</configuration>